@charset "UTF-8";
/* CSS Document */

body{
	background-color: #efefef;
}
#wrap{
	background-color: #fff;
	padding: 30px 0;
}
#header a{
	color: #fff;
}
#headerbg{
	background-color:#5DBF8F;
	color:#fff;
	padding: 10px 0;
}
#header #usernav{
	float:right;
	text-align:right;
}
#header h1{
	margin:3px 0 0 0;
	font-size: 24px;
}
#footer{
	background-color:#efefef;
	padding: 20px 0;
	margin-top: 0;
}
.floatinput{
	float: left;
	margin-right: 6px;
}