@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300,400);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body, th, h1, h2, h3{
	font-family: 'PT Sans', sans-serif;
}
#header h1{
	font-family: "Roboto Condensed";
	font-weight: 300;
}
#header h1 a span{
	font-weight: 700;
}
#mainmenu{
	float: right;
	font-size: 16px;
	font-family: "Roboto Condensed";
	padding-top: 6px;
	color: #000;
}
body{
	background-color: #F5F5F3;
}
#wrap{
	background-color: #F5F5F3;
	padding: 30px 0;
}
#search form{
	float: right;
	padding-top: 10px;
}
#header a{
	color: #fff;
}
a{
	color: #ef4f65;
}
#headerbg{
	background-color:#6bc6de;
	color:#fff;
	padding: 6px 0;
}
.delimiter{
	display: inline-block;
	background-color: #fff;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
#header h1{
	margin:3px 0 0 0;
	font-size: 24px;
}
#footer{
	background-color:#efefef;
	padding: 20px 0;
	margin-top: 0;
}
.floatinput{
	float: left;
	margin-right: 6px;
}
p{
	margin-top: 18px;
}
.light{
	color: #ccc;
}
.CodeMirror{

	background-color: #efefef;
}

table.sortable th.asc:before{
	content: '\25b4';
}
table.sortable th.desc:before{
	content: '\25be';
}